<!DOCTYPE html>
<html>
<head>
  <title>BoxSpring Entertainment</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div class= "pictureBackground">
<div class="ui center aligned grid">
  <div class="alligned" id="pageContent">
    <div class="ui large form">
  
    <%= form_tag login_path do %>
<div id= "loginSignupHead" class="content">
        Login To Your Account
    </div>
      <div class="ui stacked segment">
        <div class="field">
          <div class="ui left icon input" id = "colorFix">
            <%= text_field_tag :email, nil, :placeholder=>'Email'%>
          <i class="user icon"></i>
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input" id = "colorFix">
			     <%= password_field_tag :password, nil, :placeholder=> "Password"%>
           <i class="lock icon"></i>
          </div>
          
        </div>
        <p><%= link_to "Forgot your password?", new_reset_path %></p>
        <div>
			  <%= submit_tag "Log In", id: "loginButton",class: "ui fluid large submit button"%>
		    </div>
        <div>

        <%= link_to "Sign Up Here With BoxSpring.", signup_path %>
        </div>
		 <% end %>
      </div>
    </div>



<!--     <% if !flash.empty? %>
      <div class="ui basic modal">

        <i class="close icon"></i>

        <div class="ui icon header">
          <i class="thumbs down icon"></i>
          <h3>Nope Nope Nope!</h3>
        </div>
      
        <div class="content">
          <div class="description">
            <p><i class="help icon"></i>Is that really your email address? </p>
            <p><i class="spy icon"></i>Your password might be a pet's, SO's, or a highschool celebrity crush's name. </p>
            <p><i class="child icon"></i>Better yet, ask a sibling, significant other, or parent. They will know it.</p>
            <p><i class="meh icon"></i>Wait. Do you even have an account? Didn't think so. Go sign up.</p>
          </div>
        </div>
      
        <div class="actions">
            <div class="ui green basic inverted button">
                  <i class="warning icon"></i>
                 I'll do better next time, I promise!
            </div>
        </div>
        
      </div> -->
      
  </div>
      
      
   <% end %> 


  </div>
</div>
</div>
</body>
</html>
