<!DOCTYPE html>
<html>
<head>
  <title>HotelExperience</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
</head>
<body>

<div class= "pictureBackground">
<div class="ui center aligned grid">
  <div class="alligned" id="pageContent">
    <h2 id= "signupHead" class="ui image header">
      <div class="content">
        Signup For An Account
      </div>
    </h2>
    <div class="ui large form" id="boxSignup">
      <div class="ui stacked segment">

      <%= form_for @user, url: signup_path do |f| %>
        <div class="field">
          <div class="form-group">
            <%= f.text_field :first_name, :placeholder => "First Name"%>
          </div>
      </div>
        <div class="field">
          <div class="form-group">
            <%= f.text_field :last_name, :placeholder => "Last Name" %>
          </div>
        </div>
        <div class="field">
          <div class="form-group">
            <%= f.text_field :email, :placeholder => "Email Address" %>
          </div>
        </div>
        <div class="field">
          <div class="form-group">
            <%= f.password_field :password, :placeholder => "Password" %>          
          </div>
        </div>
        <div class="field">
          <div class="form-group">
            <%= f.password_field :company_id, :placeholder => "Company ID" %>          
          </div>
        </div>
        <div class="field">
          <div class="form-group">
            <%= f.password_field :employee_id, :placeholder => "Employee ID" %>       
          </div>
        </div>
        <div>
          <%= f.submit "Sign Up", id: "loginButton",class: "ui fluid large submit button"%>
        </div>
      <% end %>

      </div>
    </div>

    <div id= "linkTo" class="ui message alignCenter">
      <%= link_to "Log In", login_path %>
    </div>

    <% if !flash.empty? %>
      <div class="ui basic modal">

        <i class="close icon"></i>

        <div class="ui icon header">
          <i class="warning icon"></i>
          <h3>Oh No!</h3>
        </div>
      
        <div class="content">
          <div class="description">
            <p><i class="mail icon"></i>...did you submit a valid email address? </p>
            <p><i class="lock icon"></i>...did you submit a password longer than eight characters? </p>
            <p><i class="meh icon"></i>...let's go try again</p>
          </div>
        </div>
      
        <div class="actions">
            <div class="ui green basic inverted button">
                  <i class="checkmark icon"></i>
                 I'll do better next time, I promise!
            </div>
        </div>
      </div>
      
  </div>
      
      
   <% end %> 


</div>
</div>



</body>
</html>